################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/CourseService/CourseService.API/bin
/src/CourseService/CourseService.API/obj
/src/CourseService/CourseService.Application/bin
/src/CourseService/CourseService.Domain/bin
/src/CourseService/CourseService.Application/obj
/src/CourseService/CourseService.Domain/obj
/src/CourseService/CourseService.Infrastructure/bin
/src/CourseService/CourseService.Infrastructure/obj
/src/UserService/UserService.API/bin/Release/net8.0
/src/UserService/UserService.API/obj
/src/UserService/UserService.Application/obj
/src/UserService/UserService.Application/bin/Release/net8.0
/src/UserService/UserService.Domain/bin/Release/net8.0
/src/UserService/UserService.Domain/obj
/src/UserService/UserService.Infrastructure/bin/Release/net8.0
/src/UserService/UserService.Infrastructure/obj
/tests/CourseService.Tests/bin
/tests/CourseService.Tests/obj
/tests/UserService.Tests/bin
/tests/UserService.Tests/obj
/src/CourseService/CourseService.API/logs
/src/UserService/UserService.API/bin/Debug/net8.0
/src/UserService/UserService.API/logs
/src/UserService/UserService.Domain/bin/Debug/net8.0
/src/UserService/UserService.Application/bin/Debug/net8.0
/src/UserService/UserService.Infrastructure/bin/Debug/net8.0
/.claude
